<div class="wrapper-footer">
    <div class="footer-item">
        <div class="footer__contact">
            <div class="title-content">
                Liên hệ để được hỗ trợ:
            </div>
            <div>
                <ul class="content-item">
                    <li class="item-padding">
                        <i class="fa-solid fa-phone"></i>
                        Hotline: 
                        <a href="tel:+84965683244"> +84 965 683 244</a>
                    </li>
                    <li class="item-padding">
                        <i class="fa-solid fa-envelope"></i>
                        Email: 
                        <a href="mailto:theanhtutai1998@gmail.com">theanhtutai1998@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="footer__follow">
            <div class="title-content">
                Theo dõi chúng tôi trên:
            </div>
            <div>
                <ul class="content-item">
                    <li class="item-padding">
                        <i class="fa-brands fa-facebook"></i>
                        <a href="https://www.facebook.com/profile.php?id=100007221706265">Facebook</a>
                    </li>
                    <li class="item-padding">
                        <i class="fa-brands fa-instagram-square"></i>
                        <a href="https://www.facebook.com/profile.php?id=100007221706265">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="footer__download-app">
            <div class="title-content">
                Tải ứng dụng trên điện thoại:
            </div>
            <div>
                <ul class="content-item">
                    <li class="item-padding">
                        <i class="fa-brands fa-app-store-ios"></i>
                        <a href="https://apps.apple.com/us/app/smart-home/id885787515?l=vi">App Strore</a>
                    </li>
                    <li class="item-padding">
                        <i class="fa-brands fa-google-play"></i>
                        <a href="https://play.google.com/store/apps/details?id=com.tuya.smartlife&hl=vi&gl=US">Google Play</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>