<div class="left-container">
    <div class="wrap-search">
        <input type="text" class="search-input" placeholder="Search room">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="room living-room">
            <a href="/living-room">
                <div class="title-room">
                    <div class="room-icon">
                        <i class="fa-solid fa-couch"></i>
                    </div>
                    <div class="room-name">
                        Living room
                    </div>
                </div>
            </a>
            <div class="basic-info">
                <div class="temperature">
                    <div>
                        <h1 class="text-content">TEMPERATURE</h1>
                        <h1 class="text-value">25&degC</h1>
                    </div>
                </div>
                <div class="space-column"></div>
                <div class="humidity">
                    <div>
                        <h1 class="text-content">HUMIDITY</h1>
                        <h1 class="text-value">25&#37</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="room bedroom">
            <a href="/bedroom-1">
                <div class="title-room">
                    <div class="room-icon">
                        <i class="fa-solid fa-bed"></i>
                    </div>
                    <div class="room-name">
                        Bedroom 1
                    </div>
                </div>
            </a>
            <div class="basic-info">
                <div class="temperature">
                    <div>
                        <h1 class="text-content">TEMPERATURE</h1>
                        <h1 class="text-value">25&degC</h1>
                    </div>
                </div>
                <div class="space-column"></div>
                <div class="humidity">
                    <div>
                        <h1 class="text-content">HUMIDITY</h1>
                        <h1 class="text-value">25&#37</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="room bedroom">
            <a href="bedroom-2">
                <div class="title-room">
                    <div class="room-icon">
                        <i class="fa-solid fa-bed"></i>
                    </div>
                    <div class="room-name">
                        Bedroom 2
                    </div>
                </div>
            </a>
            <div class="basic-info">
                <div class="temperature">
                    <div>
                        <h1 class="text-content">TEMPERATURE</h1>
                        <h1 class="text-value">25&degC</h1>
                    </div>
                </div>
                <div class="space-column"></div>
                <div class="humidity">
                    <div>
                        <h1 class="text-content">HUMIDITY</h1>
                        <h1 class="text-value">25&#37</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="room kitchen">
            <a href="/kitchen">
                <div class="title-room">
                    <div class="room-icon">
                        <i class="fa-solid fa-kitchen-set"></i>
                    </div>
                    <div class="room-name">
                        Kitchen
                    </div>
                </div>
            </a>
            <div class="basic-info">
                <div class="temperature">
                    <div>
                        <h1 class="text-content">TEMPERATURE</h1>
                        <h1 class="text-value">25&degC</h1>
                    </div>
                </div>
                <div class="space-column"></div>
                <div class="humidity">
                    <div>
                        <h1 class="text-content">HUMIDITY</h1>
                        <h1 class="text-value">25&#37</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="room bathroom">
            <a href="bathroom">
                <div class="title-room">
                    <div class="room-icon">
                        <i class="fa-solid fa-bath"></i>
                    </div>
                    <div class="room-name">
                        Bathroom
                    </div>
                </div>
            </a>
            <div class="basic-info">
                <div class="temperature">
                    <div>
                        <h1 class="text-content">TEMPERATURE</h1>
                        <h1 class="text-value">25&degC</h1>
                    </div>
                </div>
                <div class="space-column"></div>
                <div class="humidity">
                    <div>
                        <h1 class="text-content">HUMIDITY</h1>
                        <h1 class="text-value">25&#37</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
