<div class="right-container">
  <div class="room-detail">
    <div class="title-room">
      <div class="room-icon">
        <i class="fa-solid fa-kitchen-set"></i>
      </div>
      <div class="room-name">Nhà Bếp</div>
    </div>
    <div class="date-time">
      <div id="current-time" class="text-content"></div>
      <div class="basic-info">
        <div class="temperature">
          <div>
            <h1 class="text-value temp"></h1>
          </div>
        </div>
        <div class="space-column"></div>
        <div class="humidity">
          <div>
            <h1 class="text-value humd"></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-row"></div>

  <div class="room-control">
    <div class="control-title">
      <h1 class="control-title-content">Hiệu Chỉnh Thiết Bị</h1>
    </div>

    <div class="equipment-box">
      <div class="equipment-row">
        <div class="equipment lamp">
          <div class="equipment-status">
            <div class="status">
              <h1 class="equipment-status-title">Trạng thái</h1>
              <div class="button r post" id="button-1">
                <input id="lampStatus-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
            <div class="shims" style="flex: 1"></div>
            <div class="auto-mode">
              <h1 class="equipment-status-title">Tự động</h1>
              <div class="button r post" id="button-1">
                <input id="lampAuto-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>
          <div class="equipment-img">
            <div class="images lamp-img"></div>
            <div class="to-remote">
              <a href="#">
                <h2 class="quipment-name">Đèn</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="equipment fan">
          <div class="equipment-status">
            <div class="status">
              <h1 class="equipment-status-title">Trạng thái</h1>
              <div class="button r post" id="button-1">
                <input id="fanStatus-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
            <div class="shims" style="flex: 1"></div>
            <div class="auto-mode">
              <h1 class="equipment-status-title">Tự động</h1>
              <div class="button r post" id="button-1">
                <input id="fanAuto-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>
          <div class="equipment-img">
            <div class="images fan-img"></div>
            <div class="to-remote">
              <a href="#">
                <h2 class="quipment-name">Quạt</h2>
              </a>
            </div>
          </div>
          <div class="basic-function">
            <div class="remote-air-fan">
              <h2 class="air-fan-name">Tốc độ</h2>
              <div class="buttons_added">
                <input class="minus is-form post" type="button" value="-" />
                <input id="fanSpeed-kit" aria-label="quantity" class="input-qty" max="5" min="0" name="" type="number" />
                <input class="plus is-form post" type="button" value="+" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="equipment-row">
        <div class="equipment stove">
          <div class="equipment-status">
            <div class="status">
              <h1 class="equipment-status-title">Trạng thái</h1>
              <div class="button r post" id="button-1">
                <input id="stoveStatus-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
            <div class="shims" style="flex: 1"></div>
            <div class="auto-mode">
              <h1 class="equipment-status-title">Tự động</h1>
              <div class="button r post" id="button-1">
                <input id="stoveAuto-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>
          <div class="equipment-img">
            <div class="images stove-img"></div>
            <div class="to-remote">
              <a href="#">
                <h2 class="quipment-name">Bếp điện</h2>
              </a>
            </div>
          </div>
          <div class="basic-function">
            <div class="remote-air-fan">
              <h2 class="air-fan-name">Hẹn giờ tắt</h2>
              <div class="buttons_added">
                <input class="minus is-form post" type="button" value="-" />
                <input id="stoveTimer-kit" aria-label="quantity" class="input-qty" max="120" min="1" name="" type="number" />
                <input class="plus is-form post" type="button" value="+" />
              </div>
            </div>
          </div>
        </div>
        <div class="equipment hood">
          <div class="equipment-status">
            <div class="status">
              <h1 class="equipment-status-title">Trạng thái</h1>
              <div class="button r post" id="button-1">
                <input id="hoodStatus-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
            <div class="shims" style="flex: 1"></div>
            <div class="auto-mode">
              <h1 class="equipment-status-title">Tự động</h1>
              <div class="button r post" id="button-1">
                <input id="hoodAuto-kit" type="checkbox" class="checkbox" />

                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>
          <div class="equipment-img">
            <div class="images hood-img"></div>
            <div class="to-remote">
              <a href="#">
                <h2 class="quipment-name">Máy hút mùi</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
