<div class="right-container">
    <div class="room-detail">
        <div class="title-room">
            <div class="room-icon">
                <i class="fa-solid fa-couch"></i>
            </div>
            <div class="room-name">
                Living room
            </div>
        </div>
        <div class="date-time">
            <div id="current-time" class="text-content"></div>
            <div class="basic-info">
                <div class="temperature">
                    <div>
                        <h1 class="text-value">25&degC</h1>
                    </div>
                </div>
                <div class="space-column"></div>
                <div class="humidity">
                    <div>
                        <h1 class="text-value">25&#37</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-row"></div>

    <div class="room-control">
        <div class="control-title">
            <h1 class="control-title-content">
                Remote Control
            </h1>
        </div>
        <div class="equipment-box">
            <div class="equipment-row">
                <div class="equipment lamp">
                    <div class="equipment-status">
                        <div class="status">
                            <h1 class="equipment-status-title">Status</h1>
                            <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox"/>
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <div class="shims" style="flex:1"></div>
                        <div class="auto-mode">
                            <h1 class="equipment-status-title">Auto</h1>
                            <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox"/>
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="equipment-img">
                        <div class="images lamp-img"></div>
                        <div class="to-remote">
                            <a href="#">
                                <h2 class="quipment-name">Lamp</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="equipment air-conditioner">
                    <div class="equipment-status">
                        <div class="status">
                            <h1 class="equipment-status-title">Status</h1>
                            <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox"/>
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <div class="shims" style="flex:1"></div>
                        <div class="auto-mode">
                            <h1 class="equipment-status-title">Auto</h1>
                            <div class="button r" id="button-1">
                                <input type="checkbox" class="checkbox"/>
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="equipment-img">
                        <div class="images air-conditioner-img"></div>
                        <div class="to-remote">
                            <a href="#">
                                <h2 class="quipment-name">Air Conditioner</h2>
                            </a>
                        </div>
                    </div>
                    <div class="basic-function">
                        <div class="remote-air-fan">
                            <h2 class="air-fan-name">Speed Fan</h2>
                            <div class="buttons_added">
                                <input class="minus is-form" type="button" value="-">
                                    <input aria-label="quantity" class="input-qty" max="5" min="0" name="" type="number" value="3">
                                        <input class="plus is-form" type="button" value="+"></div>
                                    </div>
                                    <div class="remote-air-temperature">
                                        <h2 class="change-temperature">Temperature</h2>
                                        <div class="buttons_added">
                                            <input class="minus is-form" type="button" value="-">
                                                <input aria-label="quantity" class="input-qty" max="35" min="15" name="" type="number" value="24">
                                                    <input class="plus is-form" type="button" value="+"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="equipment-row">
                                        <div class="equipment television">
                                            <div class="equipment-status">
                                                <div class="status">
                                                    <h1 class="equipment-status-title">Status</h1>
                                                    <div class="button r" id="button-1">
                                                        <input type="checkbox" class="checkbox"/>
                                                        <div class="knobs"></div>
                                                        <div class="layer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="equipment-img">
                                                <div class="images television-img"></div>
                                                <div class="to-remote">
                                                    <a href="#">
                                                        <h2 class="quipment-name">Television</h2>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="basic-function">
                                                <div class="remote-air-fan">
                                                    <h2 class="air-fan-name">volume</h2>
                                                    <div class="buttons_added">
                                                        <input class="minus is-form" type="button" value="-">
                                                            <input aria-label="quantity" class="input-qty" max="5" min="0" name="" type="number" value="3">
                                                                <input class="plus is-form" type="button" value="+"></div>
                                                            </div>
                                                            <div class="remote-air-temperature">
                                                                <h2 class="change-temperature">Channel</h2>
                                                                <div class="buttons_added">
                                                                    <input class="minus is-form" type="button" value="-">
                                                                        <input aria-label="quantity" class="input-qty" max="35" min="15" name="" type="number" value="24">
                                                                            <input class="plus is-form" type="button" value="+"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="equipment fan">
                                                                    <div class="equipment-status">
                                                                        <div class="status">
                                                                            <h1 class="equipment-status-title">Status</h1>
                                                                            <div class="button r" id="button-1">
                                                                                <input type="checkbox" class="checkbox"/>
                                                                                <div class="knobs"></div>
                                                                                <div class="layer"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="shims" style="flex:1"></div>
                                                                        <div class="auto-mode">
                                                                            <h1 class="equipment-status-title">Auto</h1>
                                                                            <div class="button r" id="button-1">
                                                                                <input type="checkbox" class="checkbox"/>
                                                                                <div class="knobs"></div>
                                                                                <div class="layer"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="equipment-img">
                                                                        <div class="images fan-img"></div>
                                                                        <div class="to-remote">
                                                                            <a href="#">
                                                                                <h2 class="quipment-name">Fan</h2>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="basic-function">
                                                                        <div class="remote-air-fan">
                                                                            <h2 class="air-fan-name">Speed Fan</h2>
                                                                            <div class="buttons_added">
                                                                                <input class="minus is-form" type="button" value="-">
                                                                                    <input aria-label="quantity" class="input-qty" max="5" min="0" name="" type="number" value="3">
                                                                                        <input class="plus is-form" type="button" value="+"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="equipment-row">
                                                                            <div class="equipment door">
                                                                                <div class="equipment-status">
                                                                                    <div class="status">
                                                                                        <h1 class="equipment-status-title">Status</h1>
                                                                                        <div class="button r" id="button-1">
                                                                                            <input type="checkbox" class="checkbox"/>
                                                                                            <div class="knobs"></div>
                                                                                            <div class="layer"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="equipment-img">
                                                                                    <div class="images door-lock-img"></div>
                                                                                    <div class="to-remote">
                                                                                        <a href="#">
                                                                                            <h2 class="quipment-name">Door</h2>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="equipment curtain">
                                                                                <div class="equipment-status">
                                                                                    <div class="status">
                                                                                        <h1 class="equipment-status-title">Status</h1>
                                                                                        <div class="button r" id="button-1">
                                                                                            <input type="checkbox" class="checkbox"/>
                                                                                            <div class="knobs"></div>
                                                                                            <div class="layer"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="shims" style="flex:1"></div>
                                                                                    <div class="auto-mode">
                                                                                        <h1 class="equipment-status-title">Auto</h1>
                                                                                        <div class="button r" id="button-1">
                                                                                            <input type="checkbox" class="checkbox"/>
                                                                                            <div class="knobs"></div>
                                                                                            <div class="layer"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="equipment-img">
                                                                                    <div class="images curtain-img"></div>
                                                                                    <div class="to-remote">
                                                                                        <a href="#">
                                                                                            <h2 class="quipment-name">Curtain</h2>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="basic-function">
                                                                                    <div class="remote-air-fan">
                                                                                        <h2 class="air-fan-name">Open</h2>
                                                                                        <div class="buttons_added">
                                                                                            <input class="minus is-form" type="button" value="-">
                                                                                                <input aria-label="quantity" class="input-qty" max="5" min="0" name="" type="number" value="3">
                                                                                                    <input class="plus is-form" type="button" value="+"></div>
                                                                                                </div>
                                                                                                <div class="remote-air-temperature">
                                                                                                    <h2 class="change-temperature">Closes</h2>
                                                                                                    <div class="buttons_added">
                                                                                                        <input class="minus is-form" type="button" value="-">
                                                                                                            <input aria-label="quantity" class="input-qty" max="35" min="15" name="" type="number" value="24">
                                                                                                                <input class="plus is-form" type="button" value="+"></div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="equipment-row">
                                                                                                    <div class="equipment window">
                                                                                                        <div class="equipment-status">
                                                                                                            <div class="status">
                                                                                                                <h1 class="equipment-status-title">Status</h1>
                                                                                                                <div class="button r" id="button-1">
                                                                                                                    <input type="checkbox" class="checkbox"/>
                                                                                                                    <div class="knobs"></div>
                                                                                                                    <div class="layer"></div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="shims" style="flex:1"></div>
                                                                                                            <div class="auto-mode">
                                                                                                                <h1 class="equipment-status-title">Auto</h1>
                                                                                                                <div class="button r" id="button-1">
                                                                                                                    <input type="checkbox" class="checkbox"/>
                                                                                                                    <div class="knobs"></div>
                                                                                                                    <div class="layer"></div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="equipment-img">
                                                                                                            <div class="images window-img"></div>
                                                                                                            <div class="to-remote">
                                                                                                                <a href="#">
                                                                                                                    <h2 class="quipment-name">Window</h2>
                                                                                                                </a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="basic-function">
                                                                                                            <div class="remote-air-fan">
                                                                                                                <h2 class="air-fan-name">Open</h2>
                                                                                                                <div class="buttons_added">
                                                                                                                    <input class="minus is-form" type="button" value="-">
                                                                                                                        <input aria-label="quantity" class="input-qty" max="5" min="0" name="" type="number" value="3">
                                                                                                                            <input class="plus is-form" type="button" value="+"></div>
                                                                                                                        </div>
                                                                                                                        <div class="remote-air-temperature">
                                                                                                                            <h2 class="change-temperature">Closes</h2>
                                                                                                                            <div class="buttons_added">
                                                                                                                                <input class="minus is-form" type="button" value="-">
                                                                                                                                    <input aria-label="quantity" class="input-qty" max="35" min="15" name="" type="number" value="24">
                                                                                                                                        <input class="plus is-form" type="button" value="+"></div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
