<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/loader %>
        <header>
            <% include partials/header %>
        </header>
        <div class="wrap-form">
            <div class="tt-item">
                <h2 class="tt-title">Đổi mật khẩu</h2>
                <div class="login-form">
                    <form id="forgot-password" method="post" novalidate="novalidate" action="/change-password">
                        <%if (message != "undefined") { %>
                            <div class="form-group error" style="font-size: 1.5rem; font-weight: bold; color : rgb(210, 29, 29)">
                                <%= message %>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <div class="form-control">
                                <input type="password" name="oldpass" class="input-style" placeholder="Nhập mật khẩu cũ" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <input type="password" name="newpass" class="input-style" placeholder="Mật khẩu mới" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-control">
                                <input type="password" name="newpass2" class="input-style" placeholder="Nhập lại mật khẩu" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-submit" type="submit">
                                Xác nhận
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>
        <a href="#" class="tt-back-to-top">BACK TO TOP</a>
        <% include partials/script %>
    </body>
</html>
