<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/loader %>
        <header>
            <% include partials/header %>
        </header>
        <div class="wrap-form">
            <div class="tt-item">
                <h2 class="tt-title">Đổi mật khẩu</h2>
                <div class="login-form">
                    <form id="forgot-password" method="post" novalidate="novalidate" action="/forgot-password">
                        <%if (message != "undefined") { %>
                            <div class="form-group error" style="font-size: 1.5rem; font-weight: bold; color : rgb(210, 29, 29)">
                                <%= message %>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <div class="form-control">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="text" name="email" class="input-style" id="loginInputName" placeholder="Nhập email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-submit" type="submit">
                                Xác nhận
                            </button>
                        </div>
                        <div class="form-group">
                            <h2 style="color: white;">(*Lưu ý: Mật khẩu mới sẽ được gửi về email của bạn)</h2>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>
        <% include partials/script %>
    </body>
</html>
