<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/loader %>
        <header>
            <% include partials/header %>
        </header>
        <div class="wrap-form">
            <div class="tt-item">
                <h1 class="tt-title">Đăng Nhập</h1>
                <div class="login-form">
                    <form id="customer_login" method="POST" novalidate="novalidate" action="/login">
                        <%if (message != "undefined") { %>
                            <div class="form-group error" style="font-size: 1.5rem; font-weight: bold; color : rgb(210, 29, 29)">
                                <%= message %>
                            </div>
                        <% } %>

                        <div class="form-group">
                            <div class="form-control">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" name="username" class="input-style" id="username" placeholder="Tên đăng nhập"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" name="password" class="input-style" id="password" placeholder="Mật khẩu"/>
                            </div>

                        </div>
                        <div class="form-group" style="justify-content: space-between;">
                            <div style="display: flex; align-items: center; font-size: 13px">
                                <input type="checkbox"/><p style="color: white;">Nhớ tôi không?</p>
                            </div>
                            <a href="/forgot-password" class="header-link">Quên mật khẩu?</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-submit" type="submit">
                                Đăng Nhập
                            </button>
                        </div>
                        <div class="form-group">
                            <p style="color: white; font-size: 13px;">Tạo tài khoản mới?</p>
                            <a href="/register" class="header-link" style="font-size: 1.5rem; font-weight: bolder; padding-left: 5px;">Đăng Ký</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>
        <% include partials/script %>
    </body>
</html>
