<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/loader %>
        <header>
            <% include partials/header %>
        </header>
        <div class="wrap-form">
            <div class="tt-item">
                <h1 class="tt-title">Đăng Ký</h1>
                <div class="login-form">
                    <form id="create-account" method="POST" novalidate="novalidate" action="/register">
                        <%if (message != "undefined") { %>
                            <div class="form-group error" style="font-size: 1.5rem; font-weight: bold; color : rgb(232, 129, 129)">
                                <%= message %>
                            </div>
                        <% } %>

                        <div class="form-group">
                            <div class="form-control">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" name="username" class="input-style" id="username" placeholder="Tên đăng nhập"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" name="password" class="input-style" id="password" placeholder="Mật khẩu"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="text" name="email" class="input-style" id="email" placeholder="Email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-submit" type="submit">
                                Đăng Ký
                            </button>
                        </div>
                        <div class="form-group">
                            <p style="color: white; font-size: 13px;">Bạn đã có tài khoản?</p>
                            <a href="/login" class="header-link" style="font-size: 1.5rem; font-weight: bolder; padding-left: 5px;">Đăng Nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>
    </body>
</html>
