<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/loader %>
    <header>
      <% include partials/header %>
    </header>
    <div class="wrap-form">
      <div class="tt-item">
        <h2 class="tt-title">
          Liên kết với SmartHome
        </h2>
        <%if (message != "undefined") { %>
            <div class="form-group error" style="font-size: 1.5rem; font-weight: bold; color : rgb(232, 129, 129)">
          <%= message %>
        </div>
        <% } %>
        <div class="form-default">
          <form
            id="verify-home"
            method="post"
            novalidate="novalidate"
            action="/verify-home"
          >
            <div class="form-group">
              <div class="form-control">
                <i class="fa-solid fa-house-user"></i>
                  <input type="text" name="homeName" class="input-style" id="homeName" placeholder="Home's Name"/>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <i class="fa-solid fa-building-shield"></i>
                <input
                type="text"
                name="homeId"
                class="input-style"
                id="confirm"
                placeholder="Home's Id"
              />
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-submit" type="submit">
                Xác thực
              </button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
