:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --text-content-color: #8e7171;
    --button-primary: #188fff;
    --button-hover: #0f69ff;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }